/dts-v1/;
/plugin/;
/ {
	compatible = "brcm,bcm2835";
	node@0 {
		my_device {
			compatible = "first_device";
			status = "okay";
			name = "Test";
			my_value = <12>;
		};
	};
	node1: node@1 {
		compatible = "second_device";
		status = "okay";
		name = "namhuy", "namdhay";
		value = [0x01 0x23 0x45 0x67];
	};
};
